@model Marvin.Web.Areas.ThingsC.Edit
@{
    var title = Model!.Id == 0 ? "New Thing C" : "Edit: " + Model.Name;
    ViewBag.Title = title;
}

<form method="post" asp-antiforgery="true">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Referer" />

    <div class="page-box">
        <div class="page-box-icon"><a href="/thingsc"><i class="@Cache.ThingCIcon"></i></a> Thing C</div>
        <div class="page-box-name">@title</div>
    </div>

    <div class="edit-pane">
        <div class="row edit-pane-row">

            <div class="col-12 col-md-6">
                @if (Model.Id == 0)
                {
                    <outputField value="OwnerName" label="Owner"></outputField>
                    <input type="hidden" asp-for="OwnerId" />
                }
                else
                {
                    <inputSearch value="OwnerId" label="Owner" placeholder="Search People.."></inputSearch>
                }

                <inputTextBox value="Name" label="Thing C Name"></inputTextBox>
                <inputCheckBox value="Boolean"></inputCheckBox>
                <inputDropDown value="Lookup" items="@Lookup.ThingCLookups"></inputDropDown>
                <inputDropDown value="Status" items="@Lookup.ThingCStatuses"></inputDropDown>
            </div>

            <div class="col-12 col-md-6">
                <inputDateBox value="DateTime" label="Date"></inputDateBox>
                <inputTextBox value="Text"></inputTextBox>
                <inputTextArea value="LongText"></inputTextArea>
                <inputTextBox value="Money" label="Money $"></inputTextBox>
                <inputTextBox value="Integer"></inputTextBox>
            </div>

        </div>
    </div>

    <div class="button-bar">
        <input type="submit" class="btn btn-sm btn-light" value=' Save ' />&nbsp;&nbsp;
        <a class="btn btn-sm btn-light" href="@Model.Referer">Cancel</a>
    </div>

</form>

<br />
<br />
<br />
<br />

@section Scripts
    {
    <script>

        $(function () {

            Dofactory.Utils.Typeahead.init("OwnerId", @Html.Raw(Typeahead.Owners));

        });

    </script>
}










