@model Marvin.Web.Areas.Errors.List
@{
    ViewBag.Title = "Errors";
}

<div class="page-box">

    <div class="d-flex">
        <div class="page-box-icon">
            <a href="/admin"><i class="@Cache.AdminIcon"></i></a> Admin
        </div>
        <div class="page-box-admin-menu">
            <partial name="_AdminMenu" />
        </div>

    </div>
</div>

<div class="py-10">
    <form method="post" action="/admin/errors/delete" asp-antiforgery="true">
        <div class="d-flex">
            <div class="page-box-filter">
                <select asp-for="DeleteCount" asp-items="Filter.ErrorItems" class="form-select width-170"></select>
            </div>
            <div class="page-box-button"><button class="btn btn-sm btn-light" type="submit">Submit</button></div>
            <div class="page-box-items">@Model!.TotalRows &nbsp;Items</div>
        </div>
    </form>
</div>

<div class="">
    <form>

        <input asp-for="Page" type="hidden" />

        <table class="table table-hover table-sm table-list">

            @if (Model!.Items.Count() == 0)
            {
                <tr>
                    <td colspan="5" class="no-records">No records to display</td>
                </tr>
            }

            @foreach (var error in Model.Items)
            {
                if (error is null) continue;
                <tr>
                    <td class="width-80"><a class="view btn btn-light btn-xs" data-id="@error.Id" href="javascript:void(0);">Details</a></td>

                    <td >@error.CreatedDate</td>
                    <td>@error.Message?.Ellipsify(80)</td>
                    <td>@error.IpAddress</td>
                    <td>@error.Url?.Ellipsify(20)</td>
                </tr>

                <tr id="detail-@(error.Id)" style="display:none;">
                    <td colspan="5" class="pl-90">
                        <div class="py-10"><strong>Message:</strong> @error.Message</div>
                        <div class="py-10"><strong>User:</strong> @error.UserId: @error.UserName</div>
                        <div class="py-10"><strong>Url:</strong> @error.Url</div>
                        <div class="py-10"><strong>Referrer:</strong> @error.HttpReferer</div>
                        <div class="py-10"><strong>UTC Date:</strong> @error.CreatedDate</div>
                        <div class="py-10"><strong>User Agent:</strong> @error.UserAgent</div>
                        <div class="py-10"><strong>Server Name:</strong> @error.ServerName</div>
                        <div class="py-10"><strong>Full Exception:</strong> @error.Exception</div>
                    </td>
                </tr>
            }

        </table>

        <partial name="_Pager" />

    </form>
</div>

<br /><br />
<br /><br />
<br /><br />
<br /><br />

@section Scripts
{
    <script type="text/javascript">

        Dofactory.namespace("Local").Page = (function () {

            var start = function () {

                // toggle visibility of error details

                $(".view").on('click', function () {
                    var id = $(this).data('id');
                    $("#detail-" + id).toggle();
                    $(this).blur();
                });
            };

            return { start: start };
        })();

        $(function () {

            Dofactory.Local.Page.start();

        });
    </script>
}



