@model Marvin.Web.Areas.ThingsD.Detail
@{ 
    ViewBag.Title = "Thing D Detail";
    string thingse = $"<span class='tab-badge'>{Model!.TotalThingsE}</span>";
}

<div class="page-box d-flex">

    <div>
        <div class="page-box-icon"><a href="/thingsd"><i class="@Cache.ThingDIcon"></i></a> Thing D</div>
        <div class="page-box-name">@Model!.Name</div>
    </div>

    <div class="d-flex">
        <div class=" page-box-data-first">Integer<br />@Model.Integer</div>
        <div class=" page-box-data">Status<br />@Model.Status</div>
        <div class=" page-box-data">Lookup<br />@Model.Lookup</div>
        <div class=" page-box-data-last">Money<br />@Model.Money</div>
    </div>
    <div class="ms-auto">
        <div class="page-box-buttons">
            <a class="btn btn-sm btn-light js-edit" href="/thingsd/edit/@Model.Id">Edit</a>
            <a class="btn btn-sm btn-light js-delete" href="/thingsd/delete" data-return-url="/thingsd" data-id="@Model.Id" 
               data-dependencies="@Model.TotalThingsE">Delete</a>
        </div>
    </div>
</div>

<div class="tabs">
    <ul class="nav nav-tabs nav-tabs-related">
        <li class='nav-item'><a class='nav-link @(Model.Tab == "details" ? "active" : "")' data-bs-toggle="tab" href="#details">Details</a></li>
        <li class='nav-item'><a class='nav-link @(Model.Tab == "thingse" ? "active" : "")' data-bs-toggle="tab" href="#thingse">Things E@(Html.Raw(thingse))</a></li>
    </ul>
</div>

<div class="tab-content">

    <div class='tab-pane @(Model.Tab == "details" ? "active" : "")' id="details">
        <div class="tab-pane-row row">

            <div class="col-12 col-md-6">
                <outputLink value="OwnerId" name="OwnerName" type="Owner" label="Thing D Owner"></outputLink>
                <outputField value="Name"></outputField>
                <outputField value="Text"></outputField>
                <outputField value="LongText"></outputField>
                <outputCheckBox value="Boolean"></outputCheckBox>

            </div>

            <div class="col-12 col-md-6">
                <outputField value="DateTime" label="Date Time"></outputField>
                <outputField value="Money" label="Money"></outputField>
                <outputField value="Integer"></outputField>
                <outputField value="Lookup"></outputField>
                <outputField value="Status"></outputField>
            </div>
        </div>
    </div>

    <div class='tab-pane @(Model.Tab == "thingse" ? "active" : "")' id="thingse">
        <partial name="_ThingE" model="Model.ThingsE" />
    </div>


</div>

<br />
<br />
<br />
<br />

@section Scripts
    {
    <script>
        $(function () {

        });
    </script>
}