@model Marvin.Web.Areas.Logins.List
@{
    ViewBag.Title = "Logins";
}

<div class="page-box">

    <div class="d-flex">
        <div class="page-box-icon">
            <a href="/admin"><i class="@Cache.AdminIcon"></i></a> Admin
        </div>
        <div class="page-box-admin-menu">
            <partial name="_AdminMenu" />
        </div>
    </div>

</div>

<form>

    <input asp-for="Page" type="hidden" />
    <input asp-for="Sort" type="hidden" />

    <div class="pt-25">
        <table class="table table-hover table-sm table-list">
            <tr class="bg-light">
                <th><a sort="LoginDate">Login Date</a></th>
                <th><a sort="LastName">User</a></th>
                <th><a sort="Email">Email</a></th>
                <th><a sort="IpAddress">Location</a></th>
                <th><a sort="Result">Result</a></th>
            </tr>

            @if (Model!.Items.Count() == 0)
            {
                <tr><td colspan="5" class="no-items">No items to display</td></tr>
            }

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.LoginDate</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.IpAddress</td>
                    <td>@item.Result</td>
                </tr>
            }
        </table>
    </div>

    <partial name="_Pager" />

</form>

<br /><br />
<br /><br />



