@model Marvin.Web.Areas._Related._ThingsD

<div class="d-flex related-header">
    <div class=" related-icon"><i class="@Cache.ThingDIcon"></i></div>
    <div class=" related-text">Things D (@Model!.TotalThingsD)</div>
    <div class=" related-viewall">
        @if (Model.TotalThingsD > 4)
        {
            <a href="/thingsd?AdvancedFilter=True&@Model!.ParentIdName=@Model.ParentId">View All</a>
        }
    </div>

    <div class="ms-auto related-new"><a class="btn btn-sm btn-light" href="/thingsd/edit?@(Model.ParentIdName)Id=@(Model.ParentId)&@(Model.ParentIdName)Name=@(Model.ParentName)"> New </a></div>
</div>

<div class="related-items">
    @if (Model.ThingsD.Count == 0)
    {
        @:No related Thing D items
}
    else
    {
        <div class="row">
            @foreach (var item in Model.ThingsD)
            {
                <div class="col-3">
                    <div class="pb-15"><a class="underline" href="/thingsd/@item.Id?tab=details">@item.Name</a></div>
                    <table class="table-related">
                        <tr>
                            <td class="w-30">Integer</td>
                            <td class="w-70">@item.Integer</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>@item.Status</td>
                        </tr>
                        <tr>
                            <td>Lookup</td>
                            <td>@item.Lookup</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="py-15">
                                <a class="btn btn-xs btn-light" href="/thingsd/edit/@item.Id">Edit</a>&nbsp;
                                <a class="btn btn-xs btn-light js-delete" href="/thingsd/delete" data-id="@item.Id"
                                   data-dependencies="@item.TotalThingsE">Delete</a>&nbsp; &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    }
</div>

