@model Marvin.Web.Areas.Users.List
@{
    ViewBag.Title = "Users";
}

<div class="page-box">

    <div class="d-flex">
        <div class="page-box-icon">
            <a href="/admin"><i class="@Cache.AdminIcon"></i></a> Admin
        </div>
        <div class="page-box-admin-menu">
            <partial name="_AdminMenu" />
        </div>
        <div class="ms-auto page-box-new-button-top">
            <a class="btn btn-sm btn-light" href="/admin/users/edit"> New User </a>
        </div>
    </div>
</div>

<form>

    <input asp-for="Page" type="hidden" />
    <input asp-for="Sort" type="hidden" />

    <div class="d-flex py-10">
        <div class="pt-12 pl-10">@Model!.TotalRows items</div>
        <div class="ms-auto">
            <div class="d-flex">
                <div>
                    <input asp-for="q" type="text" class="form-control width-160 height-30">
                </div>
                <div class="px-5">
                    <input type="submit" class="btn btn-sm btn-light" value="Search" />
                    <a href="/admin/users" class="btn btn-sm btn-light">Reset</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-sm table-list">
        <tr class="bg-light">
            <th><a sort="LastName">Name</a></th>
            <th><a sort="Email">Email</a></th>
            <th><a sort="Alias">Alias</a></th>
            <th><a sort="EmployeeNumber">Employee #</a></th>
            <th><a sort="Department">Department</a></th>
            <th><a sort="Role">Role</a></th>
            <th><a sort="LastLoginDate">Last Login</a></th>
            <th>&nbsp;</th>
        </tr>

        @if (Model.Items.Count() == 0)
        {
            <tr><td colspan="8" class="no-items">No items to display</td></tr>
        }

        @foreach (var item in Model.Items)
        {
            <tr>
                <td><a class="table-list-link" href="/admin/users/@item.Id">@item.Name</a></td>
                <td>@item.Email</td>
                <td>@item.Alias</td>
                <td>@item.EmployeeNumber</td>
                <td>@item.Department</td>
                <td>@item.Role</td>
                <td>@item.LastLoginDate</td>
                <td class='text-end'>
                    <a class="btn btn-xs btn-light" href="/admin/users/edit/@item.Id">Edit</a>
                    <a class="btn btn-xs btn-light js-delete" href="/admin/users/delete" data-id="@item.Id">Delete</a>
                    @if (item.ActivationDate == null)
                    {
                        <a class="btn btn-xs btn-light" data-bs-toggle="tooltip" title="Activation Code" href="/admin/users/resend/@item.Id">Resend</a>
                    }
                    else
                    {
                        <a class="btn btn-xs btn-light disabled" href="javascript:void(0);">Resend</a>
                    }
                </td>
            </tr>
        }
    </table>

    <partial name="_Pager" />

</form>

<br />
<br />
<br />
<br />


