@model Marvin.Web.Areas.ThingsA.Detail
@{
    ViewBag.Title = "Thing A Detail";
    string thingse = $"<span class='tab-badge'>{Model!.TotalThingsE}</span>";
}

<div class="page-box d-flex">

    <div>
        <div class="page-box-icon"><a href="/thingsa"><i class="@Cache.ThingAIcon"></i></a> Thing A</div>
        <div class="page-box-name">@Model.Name</div>
    </div>

    <div class="d-flex">
        <div class="page-box-data-first">Thing B Name<br />@Model.ThingBName</div>
        <div class="page-box-data">Status<br />@Model.Status</div>
        <div class="page-box-data-last">Lookup<br />@Model.Lookup</div>
    </div>

    <div class="ms-auto">
        <div class="page-box-buttons">
            <a class="btn btn-sm btn-light js-edit" href="/thingsa/edit/@Model.Id">Edit</a>
            <a class="btn btn-sm btn-light js-delete" href="/thingsa/delete" data-return-url="/thingsa" data-id="@Model.Id"
               data-dependencies="@Model.TotalThingsE">Delete</a>
        </div>
    </div>

</div>

<div class="tabs">
    <ul class="nav nav-tabs nav-tabs-related">
        <li class='nav-item'><a class='nav-link @(Model.Tab == "details" ? "active" : "")' data-bs-toggle="tab" href="#details">Details</a></li>
        <li class='nav-item'><a class='nav-link @(Model.Tab == "thingse" ? "active" : "")' data-bs-toggle="tab" href="#thingse">Things E@(Html.Raw(thingse))</a></li>
    </ul>
</div>

<div class="tab-content">

    <div class='tab-pane @(Model.Tab == "details" ? "active" : "")' id="details">
        <div class="tab-pane-row row">

            <div class="col-12 col-md-6">
                <outputLink value="OwnerId" name="OwnerName" type="Owner" label="Thing A Owner" querystring="tab=details"></outputLink>
                <outputField value="Name" label="Thing A Name"></outputField>
                <outputLink value="ThingBId" name="ThingBName" type="ThingB" label="Thing B Name"></outputLink>
                <outputLink value="ThingCId" name="ThingCName" type="ThingC" label="Thing C Name"></outputLink>
                <outputField value="Text"></outputField>
                <outputField value="LongText" label="Long Text"></outputField>
            </div>

            <div class="col-12 col-md-6">
                <outputField value="Money" label="Money"></outputField>
                <outputField value="DateTime" label="Date Time"></outputField>
                <outputField value="Lookup"></outputField>
                <outputField value="Status"></outputField>
                <outputCheckBox value="Boolean"></outputCheckBox>
                <outputField value="Integer"></outputField>
            </div>
        </div>

    </div>

    <div class='tab-pane @(Model.Tab == "thingse" ? "active" : "")' id="thingse">
        <partial name="_ThingE" model="Model.ThingsE" />
    </div>
</div>

<br />
<br />
<br />
<br />

@section Scripts
    {
    <script>
        $(function () {

        });
    </script>
}
