@model Marvin.Web.Areas.People.List
@{
    ViewBag.Title = "People";
}

<form>

    <input asp-for="Page" type="hidden" />
    <input asp-for="Sort" type="hidden" />
    <input asp-for="AdvancedFilter" type="hidden" />

    <div class="page-box">

        <div class="d-flex">
            <div class="page-box-icon">
                <a href="/people"><i class="@Cache.PeopleIcon"></i></a> People
            </div>
            <div class="ms-auto page-box-new-button-top">
                <a class="btn btn-sm btn-light js-export" data-bs-toggle="tooltip" title="Export to Excel" href="/people/export">Export</a>
            </div>
            <div class="btn-group filter-buttons" data-bs-toggle="buttons">
                <button type="button" class='standard-toggle btn btn-sm btn-light @(Model!.AdvancedFilter ? "" : "active" )' title='Standard Filter'><img src="/img/list.svg" /></button>
                <button type="button" class='advanced-toggle btn btn-sm btn-light @(Model.AdvancedFilter ? "active" : "" )' title='Advanced Filter'><img src="/img/filter.svg" /></button>
            </div>
        </div>

        <div id="standard-filter" style='display:@(Model.AdvancedFilter ? "none" : "block")'>

            <div class="d-flex">
                <div class="page-box-filter">
                    <select asp-for="Filter" asp-items="Filter.PeopleItems" class="form-select width-240"></select>
                </div>
                <div class="page-box-items">@Model.TotalRows &nbsp;Items</div>
            </div>

        </div>


        <div id="advanced-filter" style='display:@(Model.AdvancedFilter ? "block" : "none")'>

            <div class="row mt-17">

                <div class="col-4">
                    <inputTextBox value="Name"></inputTextBox>
                </div>

                <div class="col-4">
                    <inputTextBox value="Department"></inputTextBox>
                </div>

                <div class="col-4">
                    <div class="page-box-items-advanced">@Model.TotalRows &nbsp;Items</div>
                </div>
            </div>


            <div class="row mt-10 pb-15">
                <div class="col-4">
                    <inputTextBox value="Email"></inputTextBox>
                </div>
                <div class="col-4">
                    <inputDropDown value="Role" items="@Lookup.UserRoles"></inputDropDown>
                </div>
                <div class="col-4">
                    <div class="pt-5">
                        <button class="btn btn-light btn-sm js-filter" type="submit"> Filter </button>&nbsp;
                        <a href="/people?AdvancedFilter=True" class="btn btn-light btn-sm"> Reset </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">

        <table class="table table-hover table-sm table-list">
            <tr class="bg-light">
                <th><a sort="LastName">Name</a></th>
                <th><a sort="Email">Email</a></th>
                <th><a sort="Alias">Alias</a></th>
                <th><a sort="EmployeeNumber">Employee #</a></th>
                <th><a sort="Department">Department</a></th>
                <th><a sort="Role">Role</a></th>
                <th><a sort="LastLoginDate">Last Login</a></th>

            </tr>

            @if (Model.Items.Count() == 0)
            {
                <tr><td colspan="8" class="no-items">No items to display</td></tr>
            }

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><a class="table-list-link" href="/people/@item.Id">@item.Name</a></td>
                    <td><a class="table-list-link" href="mailto:@(item.Email)">@item.Email</a></td>
                    <td>@item.Alias</td>
                    <td>@item.EmployeeNumber</td>
                    <td>@item.Department</td>
                    <td>@item.Role</td>
                    <td>@item.LastLoginDate</td>
                </tr>
            }
        </table>

        <partial name="_Pager" />

    </div>
</form>

<br />
<br />
<br />
<br />








